body{
    background-image: linear-gradient(to right,rgb(185, 51, 51),orange,yellow,green,blue,indigo,violet);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.btnClass{
    margin: 10px;
    min-width:80px;    
}

label,a {
    color:white;
    font-weight: bold;
}

.imgBox{
    display:inline-block;
    margin:15px;    
}

.title{
    color:blue;
    font-weight: bold;
}

.addFavorite{
    margin:10px;
    color:white;
}

.myFavorite{
    color:white;
}